@import "../../../assets/style/variables";

.custom-checkbox {
  &.ant-checkbox-wrapper {
    align-items: center;

    & .ant-checkbox {
      & + span {
        //padding-left: 5px;
        padding-top: 5px;
      }

      &-inner {
        border: 1px solid #ccc !important;
        border-radius: 4px;
      }

      &-checked {
        & .ant-checkbox-inner {
          background-color: $red;
          border-color: #ccc !important;
        }

        &::after {
          border: 1px solid #ccc !important;
        }
      }

      //&-disabled {
      //  & .ant-checkbox-inner {
      //    background: #f8f8f9 !important;
      //  }
      //}
    }

    &:not(.ant-checkbox-wrapper-disabled) {
      &:hover {
        & .ant-checkbox {
          &-inner {
            background-color: $red;
            border-color: #ccc !important;
          }

          &-checked {
            & .ant-checkbox-inner {
              background-color: $redHover;
              border-color: #ccc !important;
            }
          }
        }
      }

      &:focus {
        & .ant-checkbox-inner {
          background-color: $redHover !important;
          border-color: #ccc !important;

          &::after {
            position: absolute;
            display: table;
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            transform: rotate(45deg) scale(1) translate(-50%, -50%);
            opacity: 1;
            transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
            content: ' ';
          }
        }
      }
    }
  }
}
