.auth-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  width: 420px;
  overflow: hidden;
  &-form {
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 25px 35px 40px;
    min-height: 480px;
  }
  &-flag {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -22px;
    margin-bottom: 28px;
    & > div {
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 9px;
      }
    }
  }
  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
  }
  &-title {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 43px;
  }
  &-copyright {
    text-align: center;
    margin-top: 13px;
    & p {
      margin: 0;
      padding: 0;
      font-size: 0.85rem;
      color: #999;
      line-height: 18px;
    }
  }
}
