.d-flex-alg-center {
  display: flex !important;
  gap: 15px;
  align-items: center;
}

.ant-pagination-item {
  border-radius: 5px !important;
}

.ant-pagination-item:focus-visible,
.ant-pagination-item:hover {
  border-color: #e62c2c !important;
  transition: all 0.3s;

  & a {
    color: #e62c2c !important;
  }
}

.ant-pagination-item-active {
  background: #e62c2c !important;
  border-color: #e62c2c !important;
  border-radius: 5px !important;

  & a {
    color: #fff !important;
  }

  &:hover a {
    color: #fff !important;
  }
}

.ant-pagination-prev,
.ant-pagination-next {
  border: 1px solid #cccccc !important;
  box-sizing: border-box;
  border-radius: 5px !important;
  background: #fff;
}

.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  color: #e62c2c !important;
  border-color: #e62c2c !important;

  path {
    fill: #e62c2c !important;
  }
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border-radius: 5px !important;
}

.ant-pagination-disabled,
.ant-pagination-disabled:hover {
  border: 1px solid #cccccc !important;
  box-sizing: border-box;
  border-radius: 5px !important;
  background: #fff;

  path {
    fill: #cccccc !important;
  }
}

.ant-pagination-next:hover .ant-pagination-item-link {
  color: #e62c2c !important;
  border-color: #e62c2c !important;
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #e62c2c !important;
}
