@import "variables";

.auth-form-content {
  &.ant-form {
    .ant-checkbox-wrapper {
      font-size: 0.9rem;
      line-height: 15px;
      color: #000000;
    }
    .ant-form-item {
      font-size: 1rem;
      margin-bottom: 15px;
      &.ant-form-item-has-error {
        .form-control {
          border-color: $red;
          &:hover, &:focus {
            border-color: $red;
          }
        }
      }
    }
    .ant-form-item-label {
      padding-bottom: 0;
      & > label {
        font-size: 0.95rem;
        line-height: 15px;
        color: #000000;
        &.ant-form-item-required {
          &:not(.ant-form-item-required-mark-optional) {
            &::after {
              display: inline-block;
              margin-left: 4px;
              color: $red;
              font-size: 1rem;
              line-height: 1;
              content: '*';
            }
            &::before {
              display: none!important;
            }
          }
        }
      }
    }
    .form-control {
      height: 35px;
      border: 1px solid #ccc;
      border-radius: 4px;
      &:hover, &:focus {
        border-color: #40a9ff;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
      }
    }
    .ant-form-item-explain {
      min-height: 20px;
      font-size: 0.85rem;
      padding-top: 3px;
      &.ant-form-item-explain-error {
        color: $red;
      }
    }
  }
}
