@import '../../../assets/style/variables';

.ant-modal-content {
  border-radius: 5px !important;
  margin: 0 auto !important;

  .ant-modal-header {
    background: #f5f5f5 !important;
    border-radius: 5px !important;
    padding: 10px 24px !important;
  }

  .ant-modal-close {
    top: -7px;
  }

  .ant-modal-close-x {
    color: #000000;
  }

  .ant-modal-footer {
    border-top: unset;
  }
}
