@import '../../../assets/style/variables';

.ant-picker {
  width: 100%;
  border-radius: 5px !important;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: $red !important;
  box-shadow: 0 0 0 $redHover !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: $red !important;
  border-radius: 5px !important;
}

.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
.ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
  .ant-picker-cell-inner {
  background: $red !important;
  color: #fff;
  border-radius: 5px !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: $red !important;
  border-radius: 5px !important;
}
