.auth-content {
  & .auth-button {
    font-weight: 400!important;
    font-size: 1rem!important;
  }
  &-download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      & > div {
        &:first-child {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          justify-content: space-between;
        }
      }
      & p {
        cursor: pointer;
        margin: 0;
        padding: 0;
        &.pc_icon, &.pc_icon.en_image {
          display: block;
          width: 256px;
          height: 36px;
          text-decoration: none!important;
          position: relative;
          font-size: 1rem;
          overflow: hidden;
          & span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 55px;
          }
        }
        &.pc_icon {
          color: #fff;
          background: url("../../../../assets/img/login/pc-app-vn.svg") no-repeat;
          &:hover {
            background: url("../../../../assets/img/login/pc-app-vn-hover.svg") no-repeat;
            color: #000;
          }
          &.en_image {
            color: #000;
            background: url("../../../../assets/img/login/pc-app-en.svg") no-repeat;
            &:hover {
              background: url("../../../../assets/img/login/pc-app-en-hover.svg") no-repeat;
              color: #fff;
            }
          }
        }
        &.other_icon, &.other_icon.en_image {
          display: block;
          width: 124px;
          height: 36px;
        }
        &.google_icon {
          background: url("../../../../assets/img/login/google-play-vn.svg") no-repeat;
          &:hover {
            background: url("../../../../assets/img/login/google-play-vn-hover.svg") no-repeat;
          }
          &.en_image {
            background: url("../../../../assets/img/login/icon-android-en.svg") no-repeat;
            &:hover {
              background: url("../../../../assets/img/login/icon-android-en-hover.svg") no-repeat;
            }
          }
        }
        &.ios_icon {
          background: url("../../../../assets/img/login/app-store-vn.svg") no-repeat;
          &:hover {
            background: url("../../../../assets/img/login/app-store-vn-hover.svg") no-repeat;
          }
          &.en_image {
            background: url("../../../../assets/img/login/icon-ios-en.svg") no-repeat;
            &:hover {
              background: url("../../../../assets/img/login/icon-ios-en-hover.svg") no-repeat;
            }
          }
        }
      }
    }
  }
}
