.div-search-account {
  margin-top: 24px;
  .ant-btn.custom-button {
    min-height: unset;
    height: 30px;
    padding: 0 45px;
  }

  .ant-col {
    margin: 0 auto;
  }

  .ant-form-item-label {
    text-align: left;
  }
}

.content-modal {
  .ant-image {
    width: 100%;

    & img {
      height: 305px;
      object-fit: cover;
    }
  }

  .page-pagination {
    margin: 24px 0;
  }
}
