.info-trace {
  &-item {
    align-items: baseline;
  }
  &-action {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;

    .ant-btn.custom-button {
      padding: 10px 25px;
    }

    .cancel,
    .cancel:hover {
      background-color: #555555;
    }
  }
}

.history-trace {
  &-pagination {
    margin-top: 16px;
  }
}
