@import '../../../assets/style/variables';

.ant-radio-checked .ant-radio-inner {
  border-color: #ee0033 !important;
}

.ant-radio-inner::after {
  background-color: #ee0033 !important;
}

.ant-radio-checked::after {
  border: 1px solid #ee0033 !important;
}
