.face-recog-page {
  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }

    .btn-feature {
      .custom-button {
        width: 33px;
        height: 33px;
        padding: unset;
        font-size: 24px;
        max-height: unset;
        min-height: unset;
      }
    }
  }

  .page-table {
    .ant-image {
      width: 100%;

      & img {
        height: 60px;
        object-fit: cover;
      }
    }

    .table-action {
      display: flex;
      gap: 15px;
    }
  }

  .page-pagination {
    margin-top: 24px;
  }
}
