@import '../../../assets/style/variables';

.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
  background-color: $red !important;
  border-color: $red !important;
}

.ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner {
  background-color: #fff;
  border-color: #d9d9d9;

  &:hover {
    border-color: $red !important;
  }

  &::after {
    background-color: $red !important;
  }
}
