.div-search {
  margin-top: 24px;
  .ant-btn.custom-button {
    min-height: unset;
    height: 30px;
    padding: 0 45px;
  }
}

.content-modal {
  .ant-image {
    width: 100%;

    & img {
      height: 305px;
      object-fit: cover;
    }
  }
}
