.header-layout-background {
  display: flex;
  justify-content: space-between;
  height: 83px !important;
  background-color: #53575a !important;
  padding: 0 !important;
  padding-left: 0px !important;
  padding-top: 10px !important;

  .trigger-open-close {
    color: #ffffff;
    cursor: pointer;
  }
  & .button-open-close {
    background: transparent;
    border: none;
    outline: none;
    height: 25px;
    display: inline-block;
    line-height: 25px;
  }

  & .feature {
    .ant-space.ant-space-horizontal.ant-space-align-center {
      padding: 3px;
      background: #000000;
      border-radius: 5px;
      gap: 2px !important;
      margin-right: 20px;
    }

    .ant-space-item {
      margin-right: unset !important;
      padding-bottom: unset !important;
    }

    .custom-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 4px 10px;
      background: linear-gradient(180deg, #3d3d3d 0%, #202020 100%);
      border-radius: 5px;
      border: 1px solid #202020;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #b1b3b2;
    }
  }
}

.ant-dropdown-menu-item {
  padding: 10px 12px !important;
}

.ant-dropdown-menu-title-content {
  display: flex;
  gap: 10px !important;
  align-items: center;

  & .menu-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  & .color-vn {
    font-weight: bold;
    color: #ff0000;
  }
}

.ant-dropdown {
  top: 60px !important;
}

.notify {
  width: 293px;
  height: 50vh;
  overflow: auto;

  .ant-dropdown-menu-item {
    white-space: pre-wrap;
    border-bottom: 1px solid #cccccc;

    &:last-child {
      border-bottom: unset;
    }
  }

  .noti-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
    color: #000000;
  }

  .noti-content {
    img {
      width: 100%;
    }

    .content {
      padding: 10px 0;
    }
  }

  .noti-action {
    display: flex;
    justify-content: center;

    .custom-button {
      padding: 10px 20px;
    }
  }

  // Scroll
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c1c1c1;
  }
}
