@import '../../../assets/style/variables';

.ant-btn {
  &.custom-button {
    border-radius: 5px;
    color: #fff !important;
    font-weight: 500;
    padding: 10px 45px;
    font-size: 1.15rem;
    line-height: 19px;
    max-height: 40px;
    width: auto;
    background: $red;
    outline: 0;
    box-shadow: none;
    border: none;
    min-height: 40px;

    &.width100 {
      width: 100%;
    }

    &:hover,
    &:focus {
      background: $redHover;
    }

    &.gradient {
      // code
    }
  }

  //&[disabled] {
  //  &.custom-button {
  //    background: #f8f8f9!important;
  //    color: rgba(0, 0, 0, 0.25)!important;
  //    border-color: #d9d9d9!important;
  //
  //    &.blue {
  //      background: #D9E6F3 !important;
  //      border-color: #D9E6F3 !important;
  //      color: #fff !important;
  //    }
  //  }
  //}
}
