@import '../../../assets/style/variables';

.ant-modal-content {
  .content-modal {
    font-size: 16px;
    line-height: 22px;
    color: #000000;

    .content-notify {
      margin-bottom: 20px;
    }
  }

  .action-modal {
    display: flex;
    justify-content: center;
    gap: 12px;

    .ant-btn.custom-button {
      padding: unset;
      width: 140px;
    }

    .cancel {
      background-color: #555555;
    }
  }

  .ant-input-password {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.ant-divider {
  border-top: 1px solid #cccccc !important;
}

.ant-divider-horizontal {
  margin: 14px 0 !important;
}

.mb-style {
  margin-bottom: 10px !important;
}
