.ant-layout-has-sider {
  .ant-layout-sider-collapsed {
    width: 66px !important;
  }
  .side-bar-aside {
    .ant-layout-sider-children {
      background-color: #53575a !important;
      height: 100vh;
      .ant-menu-root {
        background-color: #53575a !important;
        // margin-top: 83px;
        // height: calc(100vh - 83px);
        // overflow-y: scroll;

        // // Scroll
        // &::-webkit-scrollbar-track {
        //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        //   border-radius: 10px;
        //   background-color: #f5f5f5;
        // }

        // &::-webkit-scrollbar {
        //   width: 10px;
        //   background-color: #f5f5f5;
        // }

        // &::-webkit-scrollbar-thumb {
        //   border-radius: 10px;
        //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        //   background-color: #c1c1c1;
        // }

        .ant-menu-item {
          font-size: 1.14rem;
          margin-top: 0;
          height: 51px;
        }
        .ant-menu-item-selected {
          background: #cc143c;
        }
        .ant-menu-submenu {
          .ant-menu-submenu-title:focus {
            pointer-events: none;
          }
          .ant-menu-submenu-title {
            cursor: default;
            height: 51px;
            .ant-menu-title-content {
              font-size: 1.14rem;
            }
          }
          .ant-menu-submenu-arrow {
            display: none;
          }
          .ant-menu-sub {
            background-color: #53575a !important;
            .ant-menu-item-group-title {
              display: none;
            }
          }
        }
      }
      .ant-menu-inline-collapsed {
        .ant-menu-item {
          padding-left: 24px;
        }
        .ant-menu-submenu-title {
          padding-left: 24px;
        }
      }
      .logo {
        padding-top: 35px;
        padding-left: 24px;
        height: 83px;
        width: 66px;
        // position: fixed;
      }
    }
  }
}

.ant-menu-submenu-popup {
  position: relative;
  left: 93px !important;
  width: 233px !important;
  height: 112px !important;
  .ant-menu-sub {
    border: 0px solid #53575a;
    border-radius: 5px !important;
    background-color: #53575a !important;
    .ant-menu-item-group-title {
      color: #ffffff !important;
      font-style: normal;
      font-weight: 500;
      font-size: 1.14rem;
      line-height: 19px;
    }
    .ant-menu-item-group-list {
      .ant-menu-item-selected {
        background: #cc143c !important;
      }
      .ant-menu-item {
        margin-top: 0px;
        margin-bottom: 0px;
        .ant-menu-title-content {
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 19px;
          color: #ffffff !important;
        }
      }
    }
  }
}
.ant-menu-submenu-popup:after,
.ant-menu-submenu-popup:before {
  right: 100%;
  top: 22%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ant-menu-submenu-popup:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #53575a;
  border-width: 12px;
  margin-top: -12px;
}
.ant-menu-submenu-popup:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #53575a;
  border-width: 18px;
  margin-top: -18px;
}
