@import '../../../assets/style/variables';

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px !important;
}

.ant-select-selector:hover {
  border: 1px solid $red !important;
}
