.trace-page {
  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }

  .row-content {
    margin-top: 16px;
  }
}
