@import "../../../../assets/style/variables";
.otp-text {
  margin-bottom: 40px;
  p {
    margin-bottom: 5px;
    font-size: 0.95rem;
    color: #000;
    span {
      color: $red;
    }
  }
}
.otp-form {
  flex-wrap: nowrap!important;
  justify-content: space-between;
  align-items: flex-end;
  & > .ant-form-item {
    &:nth-child(1) {
      flex-direction: column;
      align-items: flex-start;
    }
    &:nth-child(2) {
      margin-right: 0;
      button {
        padding: 10px 24px;
        min-height: 35px;
        line-height: 15px;
        min-width: 105px;
      }
    }
  }
}
.otp-notification {
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  .ant-btn.custom-button {
    padding: 10px 24px;
    min-height: 35px;
    line-height: 15px;
    min-width: 105px;
  }
  & > div {
    &:nth-child(1) {
      & > span {
        font-size: 20px;
        color: $red;
      }
    }
  }
}