// @import '../../../assets/style/variables';

.ant-tooltip-inner {
  color: #333333 !important;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px !important;
}
