@import '../../../assets/style/variables';

.ant-input {
  border-radius: 5px !important;
}

.ant-input:hover {
  border-color: $red !important;
}

.ant-input:focus,
.ant-input-focused {
  border-color: $red !important;
  box-shadow: 0 0 0 $red !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: $red !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: 0 0 0 1px $red !important;
}
