.content-main {
  background: #fff !important;
  min-height: 689px !important;
  padding: 24px !important;
}
.site-layout-background {
  padding: 16px;
  min-height: 300px;
}
.auth-wrapper {
  min-height: 100vh !important;
  background: url('../assets/img/login/loginbg.png') no-repeat center;
  background-size: cover;
}

// .ant-layout.ant-layout-has-sider {
//   overflow: hidden;
// }
